<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Book of Everyone - Let's talk</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
      var skPromise = Smooch.init({
        appToken: 'apqj90hg11umriffcefcurzem',
        embedded: true,
        //jwt: "",
        userId: '<%= @user_id %>'
      });
      Smooch.render(document.getElementById('chat-container'));
      skPromise.then(function() {
         //Smooch.sendMessage('Hi TBOE. I want to make a book!', '<%= @user_id %>');
         $.get( "<%= @chat_api_url %>/conversation/new", { user_id: '<%= @user_id %>'} );
      });
    </script>
  </body>
</html>
